#root {
  max-width: 100vw;
  margin: 0 auto;
}

nav{
  position: sticky;
  width: 100%;
  top: 0;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  background-color: #035956;
  color: white;
  transition: 0.5s;
}

nav.transparent{
  background: #035956cd;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.nav-content{
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-content h1{
  font-weight: bold;
  font-size: 20px;
  width: 1px;
  line-height: 1;
}

.nav-content .icon{
  display: none;
  position: absolute;
  top: 15px;
  right: 20px;
}

.nav-content ul{
  display: flex;
}
.nav-content ul .profile-notif{
  align-items: center;
}
.nav-content ul .profile-notif li a{
  padding: 0 0;
}
.nav-content ul .profile-notif li a:hover{
  background-color: white;
  color: black;
  border-radius: 50%;
  transition: none;
}

.nav-content ul li a{
  display: flex;
  align-items: center;
  padding: 12px 16px;
  margin: 0 8px;
  border-radius: 5px;
  font-weight: 500;
}

.nav-content ul li a.last{
  background-color: white;
  color: #035956;
}

.nav-content ul li a:hover{
  background-color: #023f3d;
  transition: 0.1s;
}

.nav-content ul li a.last:hover{
  background-color: rgba(255, 255, 255, 0.861);
  transition: 0.1s;
  border: none;
}

.nav-content ul li .profile-setting{
  position: absolute;
  background-color:#035956;
  top: 58px;
  right: 0;
  width: 300px;
  padding: 10px 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  color: white;
}
.nav-content ul li .profile-setting p{
  padding: 5px 10px;
}

.nav-content ul li .profile-setting .menu{
  border-top: 1px solid rgba(255, 255, 255, 0.534);
}

.nav-content ul li .profile-setting .menu a{
  padding: 10px;
  margin: 0;
}

.nav-content ul li .profile-setting .menu a:hover{
  background-color: #03423f;
  color: white;
  border-radius: 0;
}

.admin-navbar{
  max-height: 100%;
  height: 100vh;
  max-width: 50vw;
  width: 250px;
  background-color: rgb(240, 240, 240);
  padding: 20px 0;
  position: sticky;
  top: 0;
}

.admin-navbar .logo{
  display: block;
  padding: 0 50px ;
  font-weight: bold;
  font-size: 20px;
  color: #08857f;
}

.admin-navbar ul {
  margin: 10px 0;
}

.admin-navbar ul .point{
  padding-top: 20px;
}

.admin-navbar ul .point .header{
  color: #08857f;
  padding: 10px 50px;
}

.admin-navbar ul li a{
  display: flex;
  padding: 10px 10px 10px 50px ;
  align-items: center;
}

.admin-navbar ul li a:hover{
  background-color: #08857f;
  color: white;
}

.admin-navbar ul li a.active{
  background-color: #08857f;
  color: white;
}
.admin-navbar ul li a.active::after{
  content: "›";
  margin-left: auto;
}

button.teal-button{
  background-color: #035956;
  border-radius: 5px;
  color: white;
  padding: 12px 16px;
  font-weight: 500;
}

button.teal-button:hover{
  background-color: #03423f;
}

button.white-button{
  background-color: white;
  border-radius: 5px;
  color: #035956;
  padding: 12px 16px;
  font-weight: 500;
}

button.white-button:hover{
  background-color: rgb(203, 203, 203);
}



#about .content .teal-header, .reg-header .teal-header{
  margin-bottom: 32px;
}

h1.teal-header{
  color: #035956;
  padding-bottom: 8px;
  margin-bottom: 80px;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  background:linear-gradient(#035956,#035956) bottom no-repeat;
  background-size:8% 4px;
}

h1.white-header{
  color: white;
  padding-bottom: 8px;
  margin-bottom: 80px;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  background:linear-gradient(white,white) bottom no-repeat;
  background-size:8% 4px;
}

.testimoni-card .content{
  width: 100%;
  background:linear-gradient(rgba(255, 255, 255, 0.668),rgba(255, 255, 255, 0.537)) bottom no-repeat;
  background-size: 35% 4px;
  padding: 0;
  padding-bottom: 32px;
  margin-bottom: 32px;
  font-weight: 500;
}

.testimoni-card .nama{
  font-weight: 700;
}

.prevCard{
  left: 0;
}

.user-card{
  background-color: #035956;
  padding: 26px 32px;
}

.user-card h3{
  color: white;
  font-weight: 600;
  margin-bottom: 4px;
}

.user-card p{
  color: white;
}

.user-card p.explanation{
  margin-top: 4px;
  color: #57CDB5;
}

p{
  font-size: 20px;
}

section{
  width: 100%;
  padding: 0 20px;
}

#layanan, #testimoni{
  background-color: #035956;
  color: white;
}

.content{
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 0;
}

#hero{
  position: relative;
  display: flex;
  align-items: center;
  z-index: -1;
}

#hero img{
  position: absolute;
  right: 0;
  z-index: -1;
}


#hero .content {
  color: #035956;
  position: relative;
  padding: 29vh 0;
  overflow: hidden;
}

#hero .content h1{
  font-size: 60px;
  font-weight: 700;
}

#about .content {
  text-align: justify;
}

#layanan .content h4{
  font-size: 32px;
  font-weight: bold;
}

#layanan .content p.ellipsis3{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#layanan .content p.ellipsis2{
  margin: 16px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pop-up{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items:center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.456);
  backdrop-filter: blur(1px);
}

.pop-up section.form{

  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  margin-bottom: 50px;
  width: 1280px;
  max-width: 90%;
  max-height: 80%;
  padding: 15px;
  border-radius: 20px;
  overflow: auto;
  color: black;
}

.pop-up section.form .icon{
  position: absolute;
  right: 15px;
  top: 15px;
  margin-left: auto;
  color:#035956;
  font-size: 24px;
}

.pop-up section.form .icon:hover{
  cursor: pointer;
  color: #034947;
}

.pop-up section.form .form-content h4{
  color: #035956;
  font-weight: 600;
  margin-bottom: 20px;
}

.pop-up section.form .form-content label{
    display: block;
    margin-bottom: 10px;
}
.pop-up section.form .form-content label::after{
  content: " *";
  color: red;
}

.pop-up section.form .form-content input{
  border-width: 1px;
  border-radius: 5px;
  width: 100%;
  padding: 5px 10px;
  outline: none;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.pop-up section.form .form-content select{
  border-width: 1px;
  border-radius: 5px;
  width: 100%;
  padding: 5px 10px;
  outline: none;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.pop-up section.form .form-content button{
  background-color: #035956;
  padding: 10px 20px;
  position: sticky;
  color: white;
  border-radius: 5px;
  width: 100%;
  bottom: 0;
}

.pop-up section.form .form-content button:hover{
  background-color: #034947;
}

.user-input-wrp {
	position: relative;
	width: 100%;
}
.user-input-wrp .inputText{
	width: 100%;
	outline: none;
	border:none;
 	box-shadow: none !important;
}
.user-input-wrp .floating-label {
	position: absolute;
	pointer-events: none;
	top: 11px;
	left: 10px;
	transition: 0.2s ease all;
  color: rgb(167, 167, 167);
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label{
	top: 0px;
	left: 10px;
	font-size: 10px;
	opacity: 1;
  color: white;
}

@media screen and (max-width: 768px) {

  .nav-content {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }

  .nav-content .icon{
    display: flex;
  }

  .nav-content ul{
    display: none;
    flex-direction: column;
    margin-top: 10px;
    padding-left: 0;
    max-width: 100%;
    width: 100vw;
  }

  .nav-content ul.open{
    display: flex;
  }

  .nav-content ul li{
    margin: 10px 0;
    text-align: center;
  }

  .nav-content ul .profile-notif {
    display: flex;
    justify-content: center;
  }

  .nav-content ul li a{
    display: block;
  }

  .nav-content ul li a:hover{
    border: none;
    background-color: #023f3d;
  }

  #hero .content {
    height: fit-content;
    padding: 10vh 0;
  }

  #hero .content h1{
    font-size: 50px;
  }
}